header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 93px 50px;
  align-items: center;
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
}
.header__menu {
  display: flex;
  gap: 0 33px;
}
.header__menu li {
  list-style-type: circle;
}
.header__menu a{
  text-decoration: underline;
  text-underline-offset: 4px;
}
li.header__links-list-item_no-bullit{
  list-style-type: none;
}
a.header__link_active{
  text-decoration: none;
}
.header__logo img {
  width: 148px;
  height: 105px;
}
header .address {
  justify-self: end;
}
.address {
  text-underline-offset: 4px;
  max-width: 240px;
  line-height: 25px;
  font-style: normal;
}
.cover {
  position: relative;
  margin-bottom: 180px;
  padding: 50px;
  padding-top: 165px;
  padding-bottom: 55px;
  background: url('../images/cover.jpg');
  background-position: center;
  background-size: cover;
  color: #ffffff;
  background-color: #000000;
}
.overlay {
  position: absolute;
  background-color: #000000;
  opacity: 60%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.cover__title {
  position: relative;
  display: grid;
  gap: 20px;
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30px;
  margin-bottom: 100px;
}
.aligned-text_center {
  justify-self: center;
  margin-left: 35px;
}
.aligned-text_right {
  justify-self: end;
  margin-right: -30px;
  margin-top: -5px;
}
.description {
  font-size: 22px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.description p {
  word-spacing: 19px;
}
.description button {
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
  border: 1px solid white;
}

.lots {
  text-decoration: none;
  margin-bottom: 120px;
  padding: 0 24px;
}
.lots h2 {
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
  text-underline-offset: 4px;
}
.lots a,
article {
  position: relative;
  text-decoration: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.lots li {
  list-style-type: none;
}
.lots li,
article {
  width: 334px;
  min-height: 596px;
}
.lots__card-list {
  display: flex;
  justify-content: space-between;
  row-gap:25px;
  flex-wrap: wrap;
  color: #ffffff;
  margin-bottom: 30px;
}

.card_type_film {
  background: url('../images/card-lot-01.jpg');
}
.card_type_book {
  background: url('../images/card-lot-02.jpg');
}
.card_type_picture {
  background: url('../images/card-lot-03.jpg');
}
.lots__card-list-item{
  background-position: center;
  background-size: cover;
}
.lots__card-list-item article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}
.lots__card-list-item h3,
.lots__card-list-item p {
  z-index: 2;
}
.lots__card-list-item h3 {
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}
.lots__card-list-item p {
  font-size: 20px;
  font-weight: 400;
}
a.lots__look-more-link {
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  padding-left: 40px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 0 25px;
  margin-bottom: 180px;
  padding: 35px 24px 0 25px;
}
.about__logo {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
.about__logo img {
  width: 148px;
  height: 114px;
}
.about__text {
  margin-top: 98px;
}
.about__text h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.about__text p {
  font-size: 20px;
}
.about__text-paragraph{
  display: flex;
  flex-direction: column;
  row-gap:24px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding: 0 50px 82px 50px;
}
footer .address {
  font-size: 18px;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-size: 18px;

  text-underline-offset: 4px;
}
.footer__menu-list li {
  text-decoration: underline;
}
.footer__menu-list li.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list-item {
  justify-self: end;
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  list-style-type: none;
}
.footer__social-list-item li {
  width: 48px;
  height: 48px;
}
